[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restplus = "*"
flask-jwt = "*"
flask-sqlalchemy = "*"
flask-jwt-extended = "*"
"psycopg2-binary" = "*"
marshmallow = "==3.0.0b19"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"

[dev-packages]
pylint = "*"
"autopep8" = "*"

[requires]
python_version = "3.6"
